In [1]:
import pandas  as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
marketing_data = pd.read_excel("marketing_data.xlsx")

In [3]:
marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2240 non-null   int64
 1   Year_Birth         2240 non-null   int64
 2   Education          2240 non-null   object
 3   Marital_Status     2240 non-null   object
 4    Income            2216 non-null   object
 5   Dt_Customer        2240 non-null   object
 6   Recency            2240 non-null   int64
 7   MntWines           2240 non-null   int64
 8   MntFruits          2240 non-null   int64
 9   MntMeatProducts    2240 non-null   int64
 10  MntFishProducts    2240 non-null   int64
 11  NumWebPurchases    2240 non-null   int64
 12  NumWebVisitsMonth  2240 non-null   int64
 13  AcceptedCmp3       2240 non-null   int64
 14  AcceptedCmp4       2240 non-null   int64
 15  AcceptedCmp5       2240 non-null   int64
 16  AcceptedCmp1       2240 non-null   int64
 17  AcceptedCmp2       2240 non-null   int64
dtypes: int64(14), object(4)
memory usage: 315.1+ KB

In [6]:
marketing_data["Frequency"] = marketing_data["NumWebPurchases"]
marketing_data["Monetary"] = (marketing_data["MntFishProducts"] + 
                              marketing_data["MntFruits"] + 
                              marketing_data["MntMeatProducts"] +marketing_data["MntWines"])

In [154]:
marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2240 non-null   int64
 1   Year_Birth         2240 non-null   int64
 2   Education          2240 non-null   object
 3   Marital_Status     2240 non-null   object
 4    Income            2216 non-null   object
 5   Dt_Customer        2240 non-null   object
 6   Recency            2240 non-null   int64
 7   MntWines           2240 non-null   int64
 8   MntFruits          2240 non-null   int64
 9   MntMeatProducts    2240 non-null   int64
 10  MntFishProducts    2240 non-null   int64
 11  NumWebPurchases    2240 non-null   int64
 12  NumWebVisitsMonth  2240 non-null   int64
 13  AcceptedCmp3       2240 non-null   int64
 14  AcceptedCmp4       2240 non-null   int64
 15  AcceptedCmp5       2240 non-null   int64
 16  AcceptedCmp1       2240 non-null   int64
 17  AcceptedCmp2       2240 non-null   int64
 18  Frequency          2240 non-null   int64
 19  Monetary           2240 non-null   int64
dtypes: int64(16), object(4)
memory usage: 350.1+ KB

In [155]:
marketing_data["R"] = pd.qcut(marketing_data["Recency"],5,labels=[5,4,3,2,1])

marketing_data["F"] = pd.qcut(marketing_data["Frequency"],5,labels=[1,2,3,4,5])

marketing_data["M"] = pd.qcut(marketing_data["Monetary"],5,labels=[1,2,3,4,5])

In [156]:
marketing_data["RFM_Score"] = marketing_data["R"].astype(str) +marketing_data["F"].astype(str) + marketing_data["M"].astype(str)

In [157]:
marketing_data

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Frequency,Monetary,R,F,M,RFM_Score
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,...,0,0,0,0,4,783,5,3,4,534
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,...,0,0,0,1,7,540,5,5,4,554
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,...,0,0,0,0,3,219,5,2,3,523
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,...,0,0,0,0,1,11,5,1,1,511
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,...,0,0,0,0,3,57,5,2,2,522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,...,0,0,0,0,5,563,1,4,4,144
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,...,0,0,0,0,1,31,1,1,1,111
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,...,0,0,0,0,6,290,1,4,3,143
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,...,0,0,0,0,5,1155,1,4,5,145
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,...,1,1,0,0,8,934,1,5,4,154

In [158]:
seg_map = {
    r'[1-2][1-2]': 'Hibernating',
    r'[1-2][3-4]': 'At Risk',
    r'[1-2]5': 'Can\'t Loose',
    r'3[1-2]': 'About to Sleep',
    r'33': 'Need Attention',
    r'[3-4][4-5]': 'Loyal Customers',
    r'41': 'Promising',
    r'51': 'New Customers',
    r'[4-5][2-3]': 'Potential Loyalists',
    r'5[4-5]': 'Champions'
}

marketing_data['Segment'] = marketing_data['R'].astype(str) + marketing_data['F'].astype(str)
marketing_data['Segment'] = marketing_data['Segment'].replace(seg_map, regex=True)

In [159]:
marketing_data

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Frequency,Monetary,R,F,M,RFM_Score,Segment
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,...,0,0,0,4,783,5,3,4,534,Potential Loyalists
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,...,0,0,1,7,540,5,5,4,554,Champions
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,...,0,0,0,3,219,5,2,3,523,Potential Loyalists
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,...,0,0,0,1,11,5,1,1,511,New Customers
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,...,0,0,0,3,57,5,2,2,522,Potential Loyalists
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,...,0,0,0,5,563,1,4,4,144,At Risk
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,...,0,0,0,1,31,1,1,1,111,Hibernating
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,...,0,0,0,6,290,1,4,3,143,At Risk
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,...,0,0,0,5,1155,1,4,5,145,At Risk
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,...,1,0,0,8,934,1,5,4,154,Can't Loose

In [160]:
marketing_data["pendapatan"] = (marketing_data[" Income "].replace( '[\$,)]','', regex=True )
               .replace( '[(]','-',   regex=True ).astype(float))

In [161]:
 marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2240 non-null   int64
 1   Year_Birth         2240 non-null   int64
 2   Education          2240 non-null   object
 3   Marital_Status     2240 non-null   object
 4    Income            2216 non-null   object
 5   Dt_Customer        2240 non-null   object
 6   Recency            2240 non-null   int64
 7   MntWines           2240 non-null   int64
 8   MntFruits          2240 non-null   int64
 9   MntMeatProducts    2240 non-null   int64
 10  MntFishProducts    2240 non-null   int64
 11  NumWebPurchases    2240 non-null   int64
 12  NumWebVisitsMonth  2240 non-null   int64
 13  AcceptedCmp3       2240 non-null   int64
 14  AcceptedCmp4       2240 non-null   int64
 15  AcceptedCmp5       2240 non-null   int64
 16  AcceptedCmp1       2240 non-null   int64
 17  AcceptedCmp2       2240 non-null   int64
 18  Frequency          2240 non-null   int64
 19  Monetary           2240 non-null   int64
 20  R                  2240 non-null   category
 21  F                  2240 non-null   category
 22  M                  2240 non-null   category
 23  RFM_Score          2240 non-null   object
 24  Segment            2240 non-null   object
 25  pendapatan         2216 non-null   float64
dtypes: category(3), float64(1), int64(16), object(6)
memory usage: 409.8+ KB

In [162]:
marketing_data["pendapatan"] = marketing_data["pendapatan"].fillna(marketing_data["pendapatan"].median())

In [163]:
marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2240 non-null   int64
 1   Year_Birth         2240 non-null   int64
 2   Education          2240 non-null   object
 3   Marital_Status     2240 non-null   object
 4    Income            2216 non-null   object
 5   Dt_Customer        2240 non-null   object
 6   Recency            2240 non-null   int64
 7   MntWines           2240 non-null   int64
 8   MntFruits          2240 non-null   int64
 9   MntMeatProducts    2240 non-null   int64
 10  MntFishProducts    2240 non-null   int64
 11  NumWebPurchases    2240 non-null   int64
 12  NumWebVisitsMonth  2240 non-null   int64
 13  AcceptedCmp3       2240 non-null   int64
 14  AcceptedCmp4       2240 non-null   int64
 15  AcceptedCmp5       2240 non-null   int64
 16  AcceptedCmp1       2240 non-null   int64
 17  AcceptedCmp2       2240 non-null   int64
 18  Frequency          2240 non-null   int64
 19  Monetary           2240 non-null   int64
 20  R                  2240 non-null   category
 21  F                  2240 non-null   category
 22  M                  2240 non-null   category
 23  RFM_Score          2240 non-null   object
 24  Segment            2240 non-null   object
 25  pendapatan         2240 non-null   float64
dtypes: category(3), float64(1), int64(16), object(6)
memory usage: 409.8+ KB

In [164]:
marketing_data["age_group"] = pd.cut(marketing_data["Year_Birth"],
                                                bins=[0, 1946, 1964, 1976, 1995, 2010],
                                                labels=["Traditionalist", "Baby Boomers", "Gen X", "Millenials", "Gen Z"])

In [165]:
marketing_data

,ID,Year_Birth,Education,Marital_Status,Income,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,...,AcceptedCmp2,Frequency,Monetary,R,F,M,RFM_Score,Segment,pendapatan,age_group
0,1826,1970,Graduation,Divorced,"$84,835.00",6/16/14,0,189,104,379,...,0,4,783,5,3,4,534,Potential Loyalists,84835.0,Gen X
1,1,1961,Graduation,Single,"$57,091.00",6/15/14,0,464,5,64,...,1,7,540,5,5,4,554,Champions,57091.0,Baby Boomers
2,10476,1958,Graduation,Married,"$67,267.00",5/13/14,0,134,11,59,...,0,3,219,5,2,3,523,Potential Loyalists,67267.0,Baby Boomers
3,1386,1967,Graduation,Together,"$32,474.00",5/11/14,0,10,0,1,...,0,1,11,5,1,1,511,New Customers,32474.0,Gen X
4,5371,1989,Graduation,Single,"$21,474.00",4/8/14,0,6,16,24,...,0,3,57,5,2,2,522,Potential Loyalists,21474.0,Millenials
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10142,1976,PhD,Divorced,"$66,476.00",3/7/13,99,372,18,126,...,0,5,563,1,4,4,144,At Risk,66476.0,Gen X
2236,5263,1977,2n Cycle,Married,"$31,056.00",1/22/13,99,5,10,13,...,0,1,31,1,1,1,111,Hibernating,31056.0,Millenials
2237,22,1976,Graduation,Divorced,"$46,310.00",12/3/12,99,185,2,88,...,0,6,290,1,4,3,143,At Risk,46310.0,Gen X
2238,528,1978,Graduation,Married,"$65,819.00",11/29/12,99,267,38,701,...,0,5,1155,1,4,5,145,At Risk,65819.0,Millenials
2239,4070,1969,PhD,Married,"$94,871.00",9/1/12,99,169,24,553,...,0,8,934,1,5,4,154,Can't Loose,94871.0,Gen X

In [166]:
marketing_data["income_group"] = pd.qcut(marketing_data["pendapatan"], q=3,
                                        labels=["Lower Income", "Middle Income", "Upper Income"])

In [167]:
marketing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 28 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ID                 2240 non-null   int64
 1   Year_Birth         2240 non-null   int64
 2   Education          2240 non-null   object
 3   Marital_Status     2240 non-null   object
 4    Income            2216 non-null   object
 5   Dt_Customer        2240 non-null   object
 6   Recency            2240 non-null   int64
 7   MntWines           2240 non-null   int64
 8   MntFruits          2240 non-null   int64
 9   MntMeatProducts    2240 non-null   int64
 10  MntFishProducts    2240 non-null   int64
 11  NumWebPurchases    2240 non-null   int64
 12  NumWebVisitsMonth  2240 non-null   int64
 13  AcceptedCmp3       2240 non-null   int64
 14  AcceptedCmp4       2240 non-null   int64
 15  AcceptedCmp5       2240 non-null   int64
 16  AcceptedCmp1       2240 non-null   int64
 17  AcceptedCmp2       2240 non-null   int64
 18  Frequency          2240 non-null   int64
 19  Monetary           2240 non-null   int64
 20  R                  2240 non-null   category
 21  F                  2240 non-null   category
 22  M                  2240 non-null   category
 23  RFM_Score          2240 non-null   object
 24  Segment            2240 non-null   object
 25  pendapatan         2240 non-null   float64
 26  age_group          2240 non-null   category
 27  income_group       2240 non-null   category
dtypes: category(5), float64(1), int64(16), object(6)
memory usage: 414.5+ KB

In [168]:
marketing_data.to_excel("marketing_data_r1.xlsx", sheet_name="marketing_sheet")